@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(https://fonts.gstatic.com/s/robotocondensed/v19/ieVl2ZhZI2eCN5jzbjEETS9weq8-59U.ttf) format('truetype');
}
body {
  background: linear-gradient(rgba(255, 238, 0, 0.3), rgba(235, 162, 103, 0.7)), url(../img/bg1.jpg);
  background-attachment: scroll;
  /* no-repeat es para que el fondo no se repita */
  background-repeat: no-repeat;
  /* fixed es para que quede fijo la imagen de fondo */
  background-attachment: fixed;
}
.banner {
  opacity: 70%;
  border: 2px solid #cc5d5d;
  border-radius: 10px;
}
.jumbotron {
  background-color: #d1d100;
  color: #cc5d5d;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: oblique;
  margin-top: 10px;
  margin-bottom: 0px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #d1d100;
  margin-top: 10px;
  margin-bottom: 0px;
}
li {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
}
.card-hotel {
  background-color: #379b37;
  flex: 1 350px;
  padding: 2px 5px 2px 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.btn-reserva {
  width: 100%;
}
.fa-building {
  padding-left: 10px;
}
.estrellas {
  display: inline-table;
}
.img-fluid {
  width: 100%;
  height: 400px;
}
#contacto_form {
  background-color: rgba(161, 72, 72, 0.2);
}
.tab-content {
  padding-top: 10px;
}
