@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
$yellow: #d3d14b;
$red: #E74C3C;
$green: rgb(40, 180, 99);

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;    
}


body {
    background: linear-gradient(rgba(255, 238, 0, 0.3),rgba(235, 162, 103, 0.7)), url(../img/bg1.jpg);
    background-attachment: scroll;
    /* no-repeat es para que el fondo no se repita */
    background-repeat: no-repeat; 
    /* fixed es para que quede fijo la imagen de fondo */
    background-attachment: fixed;
}

.banner {
    opacity: 70%;
    border: 2px solid black;
    border-radius: 10px;
}

.jumbotron {
    background-color: $yellow;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    @include margenes(10px, 0px)
}


footer {
    padding: 10px 10px 0 10px;
    background-color: $yellow;
    @include margenes(10px, 0px)
}

li{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
}

.card-hotel {
    background-color: rgb(236, 231, 165);  
    flex: 1 350px;
    padding: 2px 5px 2px 5px;
    @include margenes(10px, 10px)
}

.btn-reserva {
    width: 100%;
}

.fa-building{
    padding-left: 10px;
}

.estrellas {
    display: inline-table;
}

.img-fluid {
    width: 100%;
    height: 400px;
}

#contacto_form {
    background-color: rgba($red,0.2)
}

.tab-content {
    padding-top: 10px;
}